@page
@model SkateShop.Pages.ShoppingCart.ShippingModel
@{
    ViewData["Title"] = "Shipping";
}

<div class="row">
    <div class="col"></div>
    <div class="col bg-light m-5 p-5">
        <div>
            <h2>Address & Shipping</h2>
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Firstname</label>
                        <input type="text" asp-for="FirstName" class="form-control" placeholder="Firstname">
                        <span style="color: red;" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Lastname</label>
                        <input type="text" asp-for="LastName" class="form-control" placeholder="Lastname">
                        <span style="color: red;" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" asp-for="Address" class="form-control" placeholder="Kungsgatan">
                    <span style="color: red;" asp-validation-for="Address"></span>
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="XXX-XXXXXXX">
                    <span style="color: red;" asp-validation-for="PhoneNumber"></span>
                </div>
                <h3>Shipping</h3>
                <div class="form-group">
                    <input class="form-check-input" type="radio" asp-for="FreightCost" value="@Model.FreightOptions[0]" id="Gender@(@Model.FreightOptions[0])" />PostNord @Model.FreightOptions[0] kr
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="radio" asp-for="FreightCost" value="@Model.FreightOptions[1]" id="Gender@(@Model.FreightOptions[1])" />DHL @Model.FreightOptions[1] kr
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="radio" asp-for="FreightCost" value="@Model.FreightOptions[2]" id="Gender@(@Model.FreightOptions[2])" />UPS @Model.FreightOptions[2] kr
                </div>
                @*<div class="form-group">
            <div class="form-check">
                @foreach (var option in Model.FreightOptions)
        {
            <input class="form-check-input" type="radio" asp-for="FreightCost" value="@option" id="Gender@(option)" /> @option<br />
        }

            </div>
        </div>*@
                <a class="btn btn-dark mr-1" asp-page="/ShoppingCart/Index">Back</a>
                <input class="btn btn-primary" type="submit" value="Continue" />
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
