@page
@model SkateShop.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Product page";
}

<form method="get">
    <div class="form-group">
        <label for="Search">Search product</label>
        <input type="search" id="searchStr" name="searchString" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-primary" asp-page="/Products/Search" asp-route-ID="searchString" >Submit</button>
</form>

<div class="container">
    <div class="row">
        @foreach (var product in Model.HoodieList)
        {
            <div class="col-4">
                <div class="card mr-" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h4>@product.Price</h4>
                        <p>Left in stock: @product.UnitsInStock</p>
                        @if (product.UnitsInStock < 3)
                        {
                            <p>Fåtal kvar i lager</p>
                        }
                        <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var product in Model.SkateBoardList)
        {
            <div class="col-4">
                <div class="card mr-" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h4>@product.Price</h4>
                        <p>Left in stock: @product.UnitsInStock</p>
                        @if (product.UnitsInStock < 3)
                        {
                            <p>Fåtal kvar i lager</p>
                        }
                        <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var product in Model.WheelList)
        {
            <div class="col-4">
                <div class="card mr-" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h4>@product.Price</h4>
                        <p>Left in stock: @product.UnitsInStock</p>
                        @if (product.UnitsInStock < 3)
                        {
                            <p>Fåtal kvar i lager</p>
                        }
                        <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






