@page
@model SkateShop.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Product page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/product-page.css" />
}


<div class="Clothing container">
    <div class="row">
        @foreach (var product in Model.HoodieList)
        {
            <div class="col-lg-4 col-md-6">
                <div class="product card mb-5">
                    <img class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h4>@product.Price kr</h4>
                        <p>
                            Left in stock: @product.UnitsInStock
                            @if (product.UnitsInStock < 3)
                            {
                                <b style="color:red">Fåtal kvar i lager</b>
                            }
                        </p>
                    </div>
                        <div class="card-foot">
                            <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                            <form method="post">
                                <button type="submit" class="btn btn-primary" asp-page="/ShoppingCart/Index" asp-route-id="@product.Id" asp-page-handler="Buy">Add to cart</button>
                            </form>
                        </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<div class="Boards container">
    <div class="row">
        @foreach (var product in Model.SkateBoardList)
        {
            <div class="Boards col-lg-4  col-md-6">
                <div class="product card mb-5">
                    <img  class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h4>@product.Price kr</h4>
                        <p>
                            Left in stock: @product.UnitsInStock
                            @if (product.UnitsInStock < 3)
                            {
                                <b style="color:red">Fåtal kvar i lager</b>
                            }
                        </p>
                    </div>
                        <div class="card-foot mb-1">
                            <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                            <form method="post">
                                <button type="submit" class="btn btn-primary" asp-page="/ShoppingCart/Index" asp-route-id="@product.Id" asp-page-handler="Buy">Add to cart</button>
                            </form>
                        </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<div class="Wheels container">
    <div class="row">
        @foreach (var product in Model.WheelList)
        {
            <div class="Wheel col-lg-4">
                <div class="product card mb-5">
                    <img class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h4>@product.Price kr</h4>
                        <p>
                            Left in stock: @product.UnitsInStock
                            @if (product.UnitsInStock < 3)
                            {
                                <b style="color:red">Fåtal kvar i lager</b>
                            }
                        </p>
                        <div class="card-foot">
                            <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                            <form method="post">
                                <button type="submit" class="btn btn-primary" asp-page="/ShoppingCart/Index" asp-route-id="@product.Id" asp-page-handler="Buy">Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






