@page
@model SkateShop.Pages.Products.ProductIDModel
@{
}

@foreach (var p in Model.Product)
{
    <div class="card" style="width: 18rem;">
        <img style="width: 100%; height: 15Vw; object-fit: cover;" class="card-img-top" src="@p.Image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@p.Name </h5>
            <p class="card-text">@p.Price </p>
            <p class="card-text">@p.Category </p>
            <p class="card-text">@p.Color </p>
            <p class="card-text">@p.Description </p>
            <p class="card-text">@p.UnitsInStock </p>
            <form method="post">
                <button type="submit" class="btn btn-primary" asp-page="/ShoppingCart/Index" asp-route-id="@p.Id" asp-page-handler="Buy">Add to cart</button>
            </form>
        </div>
    </div>
}