@page
@model SkateShop.Pages.Products.ProductIDModel
@{
    <link rel="stylesheet" href="~/css/product-page.css" />
}

@foreach (var p in Model.Product)
{
<div class="product-container d-flex justify-content-around align-items-center">
    <div class="product-info d-flex align-items-center">
        <img class="rounded img-fluid w-25" src="@Url.Content(p.Image)" alt="Card image cap">
        <div class="ml-5">
            <h2>@p.Name </h2>
            <p style="font-size:large">@p.Description </p>
            <ul>
                <p><b>Category: </b> @p.Category </p>
                <p><b>Color: </b> @p.Color<p/>
            </ul>
        </div>
    </div>

    <div class="product-status">
        <p>
            <b>Price: </b>
            @if (p.Chosen)
            {
                <span style="text-decoration: line-through; color:red; font-size:larger">@(p.Price * 1.25)</span>
            }
            @p.Price kr
        </p>
        
        <p class="card-text"><b>Units in stock: </b> @p.UnitsInStock </p>
        <form method="post">
            <button type="submit" class="btn btn-primary" asp-page="/ShoppingCart/Index" asp-route-id="@p.Id" asp-page-handler="Buy">Add to cart</button>
        </form>

    </div>
</div>
 
}