@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .top {
        position: absolute;
        top: 100px;
        left: 440px;
        color: white;
    }
</style>


<div class="container">
    <img src="@Url.Content("~/Assets/logo/ShopBackground.jpg")" class="img-fluid" alt="Dudes Skating">
    <div class="top">
        <h1>Welcom to our Skate WebShop</h1>
    </div>
</div>

<br /><br />

<div class="container">
    <div class="row">
        @foreach (var product in Model.ProductList)
        {
            <div class="col-4">
                <div class="card mr-" style="width: 20rem; margin-left: 10px">
                    <img class="card-img-top" src="@Url.Content(product.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h6>@product.Price</h6>
                        <p>Left in stock: @product.UnitsInStock</p>
                        <a asp-page="/Products/ProductID" asp-route-ID="@product.Id" class="btn btn-primary">Product Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
